fieldset {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -webkit-box-shadow: 0 1px 3px rgba(40, 40, 40, 0.45);
    border: solid 1px #4682B4;
    margin: 10px;
	/*margin: 10px 0;*/
}

legend {
    font-weight: bold;
    padding: 1px 3px;
}